.html
{
	background-color: #E0E0E0;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 768px;
	background-image: none;
	border-style: none;
	border-color: #E0E0E0;
	background-color: #E0E0E0;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 72px;
}

#u6043
{
	z-index: 2;
	width: 1224px;
	height: 56px;
	border-color: #000000;
	background-color: #1F1F1F;
	position: relative;
	left: -100px;
}

#pu6046
{
	width: 0.01px;
	margin-left: 37px;
	position: relative;
}

#u6046
{
	z-index: 3;
	width: 33px;
	position: relative;
	margin-right: -10000px;
}

#u6048
{
	z-index: 4;
	width: 56px;
	height: 17px;
	border-color: #000000;
	background-color: #A41C21;
	-webkit-transform: matrix(0,1,-1,0,37,-19);
	-ms-transform: matrix(0,1,-1,0,37,-19);
	-o-transform: matrix(0,1,-1,0,37,-19);
	transform: matrix(0,1,-1,0,37,-19);
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: -11px;
}

#u6047
{
	z-index: 5;
	width: 33px;
	height: 33px;
	border-color: #000000;
	background-color: #A41C21;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,33,0);
	-ms-transform: matrix(0,1,-1,0,33,0);
	-o-transform: matrix(0,1,-1,0,33,0);
	transform: matrix(0,1,-1,0,33,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u6049-4
{
	z-index: 6;
	width: 187px;
	min-height: 20px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	line-height: 1.3;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 44px;
}

#u6050
{
	z-index: 11;
	background: url("../images/u6050_states.png") no-repeat 0px 0px;
	position: relative;
	width: 61px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 897px;
}

#u6050:hover #u6050_states
{
	background: url("../images/u6050_states-r.png") no-repeat 0px 0px;
}

#u6051
{
	z-index: 14;
	background: url("../images/u6051_states.png") no-repeat 0px 0px;
	position: relative;
	width: 61px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 853px;
}

#u6050_states,#u6051_states
{
	height: 53px;
	width: 61px;
	vertical-align: top;
}

#u6051:hover #u6051_states
{
	background: url("../images/u6051_states-r.png") no-repeat 0px 0px;
}

#pu6054
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 74px;
	position: relative;
}

#u6054
{
	z-index: 16;
	width: 427px;
	border-width: 10px;
	border-style: solid;
	border-color: #A41C21;
	background-color: transparent;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: -10px;
}

#u6054:hover
{
	border-color: #6A0A0E;
	width: 427px;
	min-height: 0px;
	margin: -10px -10000px -10px 0px;
}

#u6054_clip
{
	overflow: hidden;
	width: 427px;
	height: 288px;
}

#u6054_img
{
	margin: -2px -2px -2px -3px;
}

#u6069
{
	z-index: 18;
	width: 427px;
	height: 288px;
	border-width: 10px;
	border-style: solid;
	border-color: #A41C21;
	background-color: transparent;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: 473px;
}

#u6077-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 484px;
}

#u6080-3
{
	z-index: 33;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 1114px;
}

#ppu6075
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 48px;
	position: relative;
}

#pu6075
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 483px;
}

#u6075
{
	z-index: 20;
	width: 427px;
	height: 288px;
	border-width: 10px;
	border-style: solid;
	border-color: #A41C21;
	background-color: transparent;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: -10px;
}

#u6079-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 1px;
}

#u6073
{
	z-index: 19;
	width: 427px;
	height: 288px;
	border-width: 10px;
	border-style: solid;
	border-color: #A41C21;
	background-color: transparent;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: -10px;
}

#u6069:hover,#u6075:hover,#u6073:hover
{
	border-color: #6A0A0E;
	width: 427px;
	height: 288px;
	min-height: 0px;
	margin: -10px -10000px -10px 0px;
}

#u6078-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 1px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

